@{
    ViewBag.Title = "Confirmaçãpo de Email";
}

<h2>@ViewBag.Title.</h2>
<div>
    <p>
        Obrigado por confirmar seu email. Por favor @Html.ActionLink("Clique aqui para fazer Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </p>
</div>
