@{
    ViewBag.Title = "Contato";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Avenida orlando gomes<br />
    Salvador, BA <br />
    <abbr title="Phone">Telefone:</abbr>
    000.000.0000
</address>

<address>
    <strong>Suporte:</strong>   <a href="mailto:Support@example.com">Suporte@doando.com</a><br />
</address>
