@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-lg-12">

        <div class="intro-text">
            <span class="name">Doando.org</span>
            <hr class="star-light" />
            <p class="skills">
                  Existe tantas pessoas necessitadas neste mundo, pessoas que não perdem a esperança, que vão a luta em prol do bem.
                  A ideia do Doando.org é de ajudar essas pessoas à ajudar outras pessoas, unindo forças numa plataforma web completa
                  para auxiliar as ONG's a receberem doações do que for preciso e urgente para ela. Venha e faça parte deste projeto, cadastre-se e doe.
            </p>
        </div>
    </div>

</div>
